* {
  box-sizing: border-box;
}

article {
	
  padding-bottom: 40px;
  font-size: 70%;
}

article img {
  width: 220px;
  height: 220px;
}

.markdown-body article p {
margin-bottom: 0;
}

.release-date {
  color: gray;
  font-size: 90%;
}
