* {
  box-sizing: border-box;
}

article {
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  font-size: 70%;
  border-bottom: 1px solid red;
  
}


article img {
  width: 220px;
  height: 150px;
}

.markdown-body article p {
	margin: 0 1.3em; 
}

.release-date {
  color: gray;  
  font-size: 90%;
}
